[Unit]
Description=RPITalk Emulator
After=speech-dispatcher.service sound.target
Requires=speech-dispatcher.service

[Service]
ExecStart=/usr/bin/rpitalk-emulator
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

