[Unit]
Description=RPITalk USB Gadget
Documentation=man:rpitalk-emulator(1)
After=network.target
ConditionPathExists=/usr/lib/rpitalk/gadget.sh

[Service]
Type=oneshot
ExecStart=/usr/lib/rpitalk/gadget.sh
RemainAfterExit=yes

# Basic hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target
